### Dies ist meine Lösung, nicht die offizielle

##### Task 1 - Read CSV to a dataFrame

In [31]:
import pandas as pd
df = pd.read_csv("BigmacPrice.csv")
df

,date,currency_code,name,local_price,dollar_ex,dollar_price
0,2000-04-01,ARS,Argentina,2.50,1,2.50
1,2000-04-01,AUD,Australia,2.59,1,2.59
2,2000-04-01,BRL,Brazil,2.95,1,2.95
3,2000-04-01,GBP,Britain,1.90,1,1.90
4,2000-04-01,CAD,Canada,2.85,1,2.85
...,...,...,...,...,...,...
1941,2022-07-01,AED,United Arab Emirates,18.00,3,6.00
1942,2022-07-01,USD,United States,5.15,1,5.15
1943,2022-07-01,UYU,Uruguay,255.00,41,6.22
1944,2022-07-01,VES,Venezuela,10.00,5,2.00
1945,2022-07-01,VND,Vietnam,69000.00,23417,2.95

##### Task 2 - Read Excel-File to dataFrame
and get sum of eggs per breed/year
and convert into a dict

In [22]:
import pandas as pd
df = pd.read_excel("ChickenData.xlsx")
df_eggs_per_breed = df.groupby("breed")["eggs_per_year"].sum()
df_dict = df_eggs_per_breed.to_dict()
print(df_dict)

{'Australorp': 5936, 'Barnevelder': 5624, 'ISA Brown': 3309, 'New Hampshire Red': 4887, 'Plymouth Rock': 5720}

##### Task 3 - Read CSV with explicit encoding

In [ ]:
import pandas as pd
import re

# Read Cars_autoscout24.csv to a pandas data frame
df = pd.read_csv("Cars_autoscout24.csv", sep=";", encoding="cp1252")

# Convert Prices to numeric, store it as Prices_numeric
# TODO
df

TypeError: string indices must be integers, not 'str'